@{
    ViewBag.Title = "CryptoDat(a)";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <h4>CoinTable</h4>
    <hr />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>Symbol</td>
                <td>Name</td>
                <td>Price</td>
            </tr>
            @foreach (var coin in Model)
            {
                <tr>
                    <td>@coin.Symbol</td>
                    <td>@coin.Name</td>
                    <td>@coin.Price</td>
                </tr>
            }

        </thead>
    </table>

</div>


<div>
    <strong>Snapshot Time:</strong> @ViewBag.Time<br />
</div>
